<template>
    <input v-model="formula" placeholder="Dice Formula" @keydown.enter="rollDice">
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex';

export default {
    data() {
        return {
            formula: ''
        };
    },
    computed: {
        ...mapState('live', {
            sessionId: 'sessionId',
            director: 'director',
            clientId: 'clientId',
        }),
    },
    methods: {
        rollDice() {
            var diceRoll = {
                timestamp: +moment(),
                clientId: this.clientId,
                sessionId: this.sessionId,
                formula: this.formula,
            }
            this.director.submitRoll(diceRoll);
        },
    }
}
</script>